# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Data (Ignore raw images but keep processed metadata)
data/raw/

# Model outputs (trained weights and logs)
outputs/
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db 
