# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Data (Ignore raw images but keep processed metadata)
data/raw/

# Model outputs (trained weights and logs)
outputs/
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db  

# Ignore YOLO processed datasets (Too large for Git)
data/processed/yolo/

# Ignore YOLOv8 baseline artifacts (weights and telemetry images)
outputs/yolov8_baseline_640/*.pt
outputs/yolov8_baseline_640/*.png
outputs/yolov8_baseline_640/*.jpg

# Ignore raw YOLOv8 datasets if they are generated locally
dataset/
runs/

# Ignore Colab-specific files
.config/

